@font-face {
    font-family: Hebah-Font;
    src: url('../fonts/Hebah-Font.ttf');
}
@font-face {
    font-family: TheSansArabic-bold;
    src: url('../fonts/TheSansArabic-Bold.ttf');
}
@font-face {
    font-family: TheSansArabic-regular;
    src: url('../fonts/TheSansArabic-regular.ttf');
}
/* @font-face {
  font-family: Tijawal-ExtaBold;
  src: url('../fonts/Tajawal-ExtraBold.ttf');
}
@font-face {
  font-family: Tijawal-Bold;
  src: url('../fonts/Tajawal-Bold.ttf');
}
@font-face {
  font-family: Tijawal;
  src: url('../fonts/Tajawal-Regular.ttf');
}
@font-face {
  font-family: 'Tijawal-Medium';
  src: url('../fonts/Tajawal-Medium.ttf');
} */
@font-face {
  font-family: 'Tijawal-ExtraBold';
  src: url('../fonts/Tajawal-ExtraBold.ttf');
}

@font-face {
  font-family: 'Tijawal-Bold';
  src: url('../fonts/Tajawal-Bold.ttf');
}

@font-face {
  font-family: 'Tijawal';
  src: url('../fonts/Tajawal-Regular.ttf');
}

@font-face {
  font-family: 'Tijawal-Medium';
  src: url('../fonts/Tajawal-Medium.ttf');
}
body {font-family: TheSansArabic-bold;}
.TheSansArabic-regular {font-family: TheSansArabic-regular;}
.font-Tijawal-ExtraBold {
  font-family: 'Tijawal-ExtraBold';
}

.font-Tijawal-Bold {
  font-family: 'Tijawal-Bold';
}

.font-Tijawal {
  font-family: 'Tijawal';
}

.font-Tijawal-Medium {
  font-family: 'Tijawal-Medium';
}
.Hebah-Font {font-family: Hebah-Font;}

.text-sh {text-shadow: 0 4px 4px #00000040;}

.features-list li p::after {
    content: '';
    display: block;
    height: 24px;
    width: 25px;
    background-image: url('../images/list-item-icon.svg');
    position: absolute;
    right: 0;
    top: 8px;
    background-size: contain;
}

.titles-list li p::after {
  top: 16px;
}
@media (max-width: 767px) {
  .titles-list li p::after {
    top: 6px;
  }
}

::placeholder, .select-option {color: #ddd ;}

  /* video style*/
  .video-container {
    position: relative;
    padding-bottom: calc(var(--aspect-ratio, 0.5625) * 100%);
    height: 0;
    width: 100%;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
 

  .checkbox input[type='checkbox']:checked, [type='radio']:checked {
    border-color: transparent;
    background-color: #115A48 ;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.register-form .error {
  font-size: 13px;
  color: #f00;
  display: block;
  margin-top: 0.5rem;
}
